<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.rbac_back.Mapper.UserRoleMapper">
    <select id="getUserRoles" resultType="java.lang.Integer">
        SELECT role_id FROM user_role WHERE userid = #{userid}
    </select>

    <insert id="addUserRole">
        INSERT INTO user_role(userid, role_id) VALUES (#{userid}, #{role_id})
    </insert>

    <delete id="deleteUserRole">
        DELETE from user_role WHERE userid = #{userid}
    </delete>

    <delete id="deleteRoleUser">
        DELETE from user_role WHERE role_id = #{role_id}
    </delete>
</mapper>
